# Mini-LISP

A mini-LISP interpreter in C++ with a small standard library and an `eval` function which interprets same LISP expressions. [Try it online here!](http://swaneet.eu/minilisp)

The purpose of this project was to develop a better understanding of some key features of LISP (e.g. [homoiconicity](https://en.wikipedia.org/wiki/Homoiconicity)) by writing an interpreter for it - and because it's fun to do so! I choose C++ since I wanted to improve my C++ skills - and because chosing simple constructs from C++ enables a better understanding than using higher level abstractions (e.g. Python objects). Writing an interpreter also allows one to experiment with variations which are not implemented in standard implementations of LISP. The interpreter is slightly different than comparable full implementations of LISP such as GNU clisp and these are documented below. During implementation I was mostly going along the lines of [The Roots of LISP](http://languagelog.ldc.upenn.edu/myl/llog/jmc.pdf). Finally, I exposed the interpreter in a [scratchpad environment](http://swaneet.eu/minilisp) to make it better accessible.

### Mini-LISP interpreter in C++
The interpreter comes with the following primitives:
* `quote`
* `atom`
* `eq`
* `car`
* `cdr`
* `cons` (and it's abbreviation `list`)
* `cond`
* `lambda`
* `define` + global `define!`
* `environment`
* `+` and `decr`

Examples for the usage of the primitives and a standard-library of functions can be found in section [Example expressions](#example-expressions). The standard-library implementation can be found [here](https://github.com/GollyTicker/Mini-LISP/blob/main/1-interpreter/standard-library.lisp).

### Definitions
* `(quote x)` returns `x`
* `(atom x)` is `t` if and only if `x` is an atom
* `(eq x y)` is `t` if and only if `x` and `y` are equal atoms or both the empty list `()`
* `(car xs)` / `(cdr xs)` return the head / tail of the list `xs`
* `(cons x xs)` creates a new list with head `x` and tail `xs`
  * `(list a b ... z)` is shortform for `(cons a (cons b (... (cons z '()) ...)))`
* `((lambda (var1 ... varN) body) arg1 ... argM)` with `N` <= `M` is evaluated by sequentially evaluating the arguments `arg1 ... argN` and replacing every occurence of `var1` to `varN` in `body` with the evaluated forms of the arguments. `var1` to `varN` are atoms.
* `(define k v body)` replaces every occurence of `k` in `body` with the evaluated form of `v`.
  * `(define! k v)` binds the evaluated form of `v` to the atom `k` globally. This should **only** be used for top-level definitions! It returns with the evaluated form of `v`
* `environment` returns an association list of of all current bindings
* `(+ x1 ... xN)` interprets all atoms `x1` to `xN` as integers and returns their sum as an atom
  * `(decr n)` returns `n-1` as an atom

### Features
* a function `eval` written in MiniLISP which can emulates MiniLISP itself (in `standard_library.lisp`)
* *memory management* of LISP expressions via C++ `shared_ptr` in `0-AST.cpp`
* *garbage collection* of memoised but unreferenced expressions
* *memoisation* of the evaluated from of expressions via `weak_ptr` in `0-Eval.cpp`. Memoisation is possibe, since all lisp ASTs are mere expressions which don't change state. (`define!` is only meant for top-level bindings)
  * in long running operations 13% to 18% of all expressions were observed to be looked up instead of recomputed
  * this optimisation isn't implemented in the interpreter `eval` written in MiniLISP itself, due to the lack of efficient map datastructures. These expressions run long and are excluded from tests.
* *head-first evaluation*: in expressions where the head itself is a complex expression, the head is evaluated first until it can be reduced to a primitive or lambda function. This enables us to write complex functions where the head can be computed.
  * for example `((cond ('() '+) ('t 'car)) '(1 2 3))` can be run with our interpreter and evaluates to `1` as it choses to run the head `car`
  * other online interpreters such as [this one](https://rextester.com/l/common_lisp_online_compiler) (GNU clisp) cannot evaluate such expressions, as the head always has to be a lambda function or a defined function.
* *lazy variable bindings* in lambdas enabling us to define recursive functions using logic-combinators
  * for example, we can run `(lambda (f x) (f f x)) '(lambda (f n) (cond ((eq n '0) '0) ('t (+ n (f f (decr n)))))) '3)` to compute the sum of the first `n=3` integers. it corresponds to the lambda expression `(λf. λx. f f x) (λf. λn. if n == 0 then 0 else n + (f f (n-1)))`
  * Such definitions are not possible in GNU clisp due to it's head being itself a function
* a small *standard library* can be found in `standard-library.lisp`
* we can easily *rewrite expressions*. The following code snippet demonstrates this.
```
(define! expr '(+ '1 '2 '3))         ; => (+ (quote 1) (quote 2) (quote 3))
(eval expr '())                      ; => 6
(define! expr (set-head 'list expr)) ; => (list (quote 1) (quote 2) (quote 3))
(eval expr '())                      ; (1 2 3)
```

### Installation & Usage
1. Please ensure you have a linux system with [Docker](https://docs.docker.com/get-docker/) installed
1. (Install cmake for Makefile)
1. Clone this repository
1. Run ```make repl``` to build the docker image and run the MiniLISP REPL locally
1. Run ```make docker-scratchpad``` to run a local frontend at `http://localhost:80`
1. To check that all tests pass: `make test`

To deploy locally, run `./restart-service.sh`.

For further debugging purposes, one can use `make docker-bash` to build and connect to a terminal in the container. The server can be run via `make docker-server` at the port in `3-HTTP/port.txt`.

To debug locally:
* set `publicPath` in vue.config.js to `/`
* set `3-HTTP/http-backend-address.txt` to `http://localhost:<port>` where `port` is `3-HTTP/port.txt`
* set `3-HTTP/http-backend-path.txt` to an empty string
and then run `make start-dev` to start all services in dev mode.
Finally, open the website at `http://localhost`

This readme can be generated via `make readme`.

### Frameworks used
* [C++](https://de.wikipedia.org/wiki/C%2B%2B) for parsing and evaluating MiliLISP
* [Haskell](https://www.haskell.org/) with
  * [Firefly](https://hackage.haskell.org/package/firefly) which exposes the interpreter via REST API at port [3-HTTP/port.txt](3-HTTP/port.txt)
  * as well as for simple scripting contexts
* [NodeJS](https://nodejs.org/en/) and [Vue 3](https://v3.vuejs.org/) for frontend scratchpad with [Prism](https://prismjs.com/) for syntax highlighting
* and finally [Docker](https://www.docker.com/) to package everything into deployable images

### Example expressions
%%% runhaskell 1-interpreter/run-examples.hs
